@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Anton', sans-serif;
}



/*  */

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
  }
  
  @layer base {
    body {
      /* @apply bg-[#111] text-[#ecf0f3] tracking-wide */
    }
  
    h1, h2, h3, h4, h5, h6 {
      @apply font-bold
    }
  
    h1 {
      @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
    }
  
    h2 {
      @apply text-3xl sm:text-4xl
    }
    
    li {
      @apply cursor-pointer
    }
  
    button {
      @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
    }
  
    /* TIMELINE COMPONENT */
    .timeline-img {
      @apply h-24 w-24 object-cover rounded-full shadow-md border-4 border-white xs:absolute md:mx-auto md:left-0 md:right-0;
  }
  .timeline-container {
      @apply relative pt-2 xs:pl-28 xs:pt-0 md:w-1/2 md:ml-auto md:pl-16;
  }
  .timeline-container-left {
      @apply md:ml-0 md:mr-auto md:pl-0 md:pr-16;
  }
  .timeline-pointer {
      @apply absolute inset-0 left-10 h-4 w-4 transform rotate-45 bg-white xs:top-11 xs:left-26 md:left-14;
  }
  .timeline-pointer-left {
      @apply md:left-auto md:right-14;
  }
  }